---
import { Icon } from "astro-icon/components";
---

<section
  class="mx-auto px-4 py-32 sm:px-6 lg:flex lg:items-center justify-center lg:px-24 bg-gray-200"
>
  <div class="">
    <div class="xl:container m-auto px-6 text-gray-500 md:px-12">
      <div>
        <h2
          class="mt-4 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl"
        >
          What we offer
        </h2>
      </div>
      <div
        class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
      >
        <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <Icon name="mdi:bed" class="text-5xl" />
            <div class="space-y-2">
              <h5
                class="text-xl font-bold text-gray-700 dark:text-white transition group-hover:text-primary"
              >
                Bedroom 1 with balcony
              </h5>
              <ul>
                <li class="border-b py-2">
                  - Balcony (connects to dining room and kitchen)
                </li>
                <li class="border-b py-2">
                  - Essentials (towels, bed sheets and soap)
                </li>
                <li class="border-b py-2">- Hangers</li>
                <li class="border-b py-2">- Bed linen</li>
                <li class="border-b py-2">- Extra pillows and blankets</li>
                <li class="border-b py-2">- Large wardrobe</li>
                <li class="border-b py-2">- 2 side tables</li>
                <li class="border-b py-2">- Bin</li>
                <li class="border-b py-2">
                  - Dressing table (with large mirror)
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <Icon name="mdi:bed" class="text-5xl" />

            <div class="space-y-2">
              <h5
                class="text-xl font-bold text-gray-700 dark:text-white transition group-hover:text-primary"
              >
                Master bedroom (bedroom 2)
              </h5>
              <ul>
                <li class="border-b py-2">
                  - Essentials (towels, bed sheets and soap)
                </li>
                <li class="border-b py-2">- Hangers</li>
                <li class="border-b py-2">- Bed linen</li>
                <li class="border-b py-2">- Extra pillows and blankets</li>
                <li class="border-b py-2">- Large wardrobe</li>
                <li class="border-b py-2">- 2 side tables</li>
                <li class="border-b py-2">- Bin</li>
                <li class="border-b py-2">
                  - Dressing table (with large mirror)
                </li>
                <li class="border-b py-2">- Children bed</li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div
            class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
          >
            <Icon name="mdi:bed" class="text-5xl" />
            <div class="space-y-2">
              <h5
                class="text-xl font-bold text-gray-700 dark:text-white transition group-hover:text-primary"
              >
                Bedroom 3 (single beds)
              </h5>
              <ul>
                <li class="border-b py-2">- 2 Single beds</li>
                <li class="border-b py-2">
                  - Essentials (towels, bed sheets and soap)
                </li>
                <li class="border-b py-2">- Hangers</li>
                <li class="border-b py-2">- Bed linen</li>
                <li class="border-b py-2">- Extra pillows and blankets</li>
                <li class="border-b py-2">- 2 single wardrobe</li>
                <li class="border-b py-2">- Bin</li>
                <li class="border-b py-2">
                  - Dressing table (with large mirror)
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <Icon name="mdi:oven" class="text-5xl" />

            <div class="space-y-2">
              <h5
                class="text-xl font-bold text-gray-700 dark:text-white transition group-hover:text-primary"
              >
                Fully equiped kitchen
              </h5>

              <ul>
                <li class="border-b py-2">- Fridge</li>
                <li class="border-b py-2">- Microwave</li>
                <li class="border-b py-2">
                  - Cooking basics (Pots and pans, oil, salt and pepper)
                </li>
                <li class="border-b py-2">
                  - Dishes and cutlery (Bowls, plates, spoon, fork, knives,
                  cups, etc.
                </li>
                <li class="border-b py-2">- Oven</li>
                <li class="border-b py-2">- Dishwasher</li>
                <li class="border-b py-2">- Kettle (Coffee, tea and sugar)</li>
                <li class="border-b py-2">- Toaster</li>
                <li class="border-b py-2">- Cleaning Supplies</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
      >
        <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div
            class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
          >
            <Icon name="mdi:tv" class="text-5xl" />
            <div class="space-y-2">
              <h5
                class="text-xl font-bold text-gray-700 dark:text-white transition group-hover:text-primary"
              >
                Modern living room
              </h5>
              <p class="text-sm text-gray-600 dark:text-gray-300">
                Includes sofa, TV, wifi and netflix to entertain your stay
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <Icon name="mdi:balcony" class="text-5xl" />
            <div class="space-y-2">
              <h5
                class="text-xl font-bold text-gray-700 dark:text-white transition group-hover:text-primary"
              >
                Large balcony
              </h5>
              <p class="text-sm text-gray-600 dark:text-gray-300">
                We are providing a BBQ grill, tables and chairs and clothes rack
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <Icon name="mdi:shower" class="text-5xl" />
            <div class="space-y-2">
              <h5
                class="text-xl font-bold text-gray-700 dark:text-white transition group-hover:text-primary"
              >
                Bathroom
              </h5>
              <p class="text-sm text-gray-600 dark:text-gray-300">
                Hairdryer, Bidet, Hand Soap, Toilet Paper, Cleaning Supplies,
                Window
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <Icon name="mdi:key" class="text-5xl" />
            <div class="space-y-2">
              <h5
                class="text-xl font-bold text-gray-700 dark:text-white transition group-hover:text-primary"
              >
                Self check-in
              </h5>
              <p class="text-sm text-gray-600 dark:text-gray-300">
                We provide a self check-in service
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
