---
import { Icon } from "astro-icon/components";
import { PHONE } from "../constants/index.astro";
import LOGO from "../images/Casa-Martina-Logo.png";
import { Image } from "astro:assets";
---

<header class="px-24 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto">
  <nav class="bg-white border-gray-200">
    <div
      class="flex flex-wrap justify-center items-center mx-auto max-w-screen-xl p-4"
    >
      <div class="hidden sm:flex items-center">
        <ul
          class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm"
        >
          <li>
            <a href="/gallery" class="text-gray-900 hover:underline">GALLERY</a>
          </li>
        </ul>
      </div>
      <a href="/" class="flex items-center">
        <Image src={LOGO} alt="Casa Martina Logo" class="w-40 mx-10" />
      </a>

      <div class="hidden sm:flex items-center">
        <ul class="flex flex-row font-medium mt-0 space-x-8 text-sm">
          <li>
            <a href="/contact" class="text-gray-900 hover:underline">CONTACT</a>
          </li>
        </ul>
      </div>

      <div class="sm:hidden">
        <button
          type="button"
          class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <Icon
            name="mdi:menu"
            class="hs-collapse-open:hidden flex-shrink-0 text-xl"
          />

          <Icon
            name="mdi:close"
            class="hs-collapse-open:block hidden flex-shrink-0 text-xl"
          />
        </button>
      </div>
      <div
        id="navbar-collapse-with-animation"
        class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow"
      >
        <div
          class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5"
        >
          <a
            class="text-gray-900 hover:underline"
            href="/gallery"
            aria-current="page">GALLERY</a
          >
          <a class="text-gray-900 hover:underline" href="/contact">CONTACT</a>
          <a
            class="border px-3 py-2 rounded-full bg-green-600 text-white sm:inline-block"
            href={`tel:${PHONE}`}
          >
            {PHONE}
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
