---
import { Icon } from "astro-icon/components";
---

<section
  class="mx-auto px-4 py-32 sm:px-6 lg:flex lg:items-center lg:px-24 bg-gray-800"
>
  <div class="xl:container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <h2 class="text-center text-2xl font-bold text-gray-200 md:text-4xl">
      Places nearby
    </h2>
    <p class="mb-12 text-center text-xl font-bold text-gray-200">
      Casa Martina
    </p>
    <div class="grid gap-8 grid-cols-2 grid-rows-2 max-md:block">
      <div
        class="rounded-3xl border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10 max-md:mb-12"
      >
        <div class="">
          <p class="mb-8">
            We are in fact in the heart of <strong>Val d'Elsa</strong>, a
            renowned tourist area which in just a few square kilometres offers
            visitors unique pearls such as <strong
              >Monteriggioni, San Gimignano and San Miniato,</strong
            > which alone is worth the trip. So, combine them with a visit to <strong
              >Centraldo,</strong
            > and your holiday in Tuscany will be perfect!
          </p>
          <ul>
            <li class="list-disc ml-6">
              Train Station & Centre of Certaldo - 5min (by car), 15min (by
              walk)
            </li>
            <li class="list-disc ml-6">
              Piazza Boccaccio - 6min (by car), 20min (by walk)
            </li>
            <li class="list-disc ml-6">
              Certaldo Alto - 7min (by car), 25min (by walk)
            </li>
            <li class="list-disc ml-6">
              Funicolare di Certaldo - 6min (by car), 20min (by walk)
            </li>
            <li class="list-disc ml-6">San Gimignano - 15min (by car)</li>
            <li class="list-disc ml-6">Monteriggioni</li>
            <li class="list-disc ml-6">Siena</li>
            <li class="list-disc ml-6">Firenze</li>
            <li class="list-disc ml-6">Pisa Airport</li>
          </ul>
        </div>
      </div>

      <div
        class="rounded-3xl sm:flex sm:space-x-8 border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10 max-md:mb-12"
      >
        <div class="mt-4 space-y-4 sm:mt-0 sm:text-left">
          <h4 class="text-md font-bold">
            Places to visit in Tuscany, tourist places & top attractions
          </h4>

          <ul>
            <li class="list-disc ml-6">Piazza Cisterna</li>
            <li class="list-disc ml-6">Piazza Matteotti</li>
            <li class="list-disc ml-6">Theatre of Silence</li>
            <li class="list-disc ml-6">Pitti Palace</li>
            <li class="list-disc ml-6">Ufkizi Gallery</li>
            <li class="list-disc ml-6">Palazzo Vecchio</li>
            <li class="list-disc ml-6">Piazza Della Signora</li>
            <li class="list-disc ml-6">Cathedral of Santa Maria</li>
            <li class="list-disc ml-6">del Fiore</li>
          </ul>
        </div>
      </div>
      <div
        class="max-md:block flex justify-around col-span-2 rounded-3xl border border-gray-100 bg-gray-50 p-8 shadow-2xl shadow-gray-600/10 max-md:mb-12"
      >
        <div class="">
          <div class="mb-3">
            <h3 class="text-md font-bold">Around the property:</h3>

            <ul>
              <li class="list-disc ml-6">Market Da Ademia</li>
              <li class="list-disc ml-6">Bar Maria</li>
              <li class="list-disc ml-6">Jam Cafe</li>
            </ul>
          </div>

          <div class="mb-3">
            <h3 class="text-md font-bold">Supermarket:</h3>

            <ul>
              <li class="list-disc ml-6">Coop</li>
              <li class="list-disc ml-6">Eurospin</li>
            </ul>
          </div>

          <div class="mb-3">
            <h3 class="text-md font-bold">Restaurants:</h3>

            <ul>
              <li class="list-disc ml-6">Da Carlo(centre of certaldo)</li>
              <li class="list-disc ml-6">La Collina</li>
              <li class="list-disc ml-6">Osteria Di Casa Chianti</li>
            </ul>
          </div>

          <div class="mb-3">
            <h3 class="text-md font-bold">Winery:</h3>

            <ul>
              <li class="list-disc ml-6">Tenuta Torciano</li>
              <li class="list-disc ml-6">San Gimignano</li>
              <li class="list-disc ml-6">Poggie Amorelli</li>
              <li class="list-disc ml-6">Balsamic Vinegar - Bar</li>
              <li class="list-disc ml-6">Dante Enoteca</li>
            </ul>
          </div>
        </div>

        <div class="">
          <div class="">
            <div class="mb-8">
              <h3 class="text-md font-bold mb-3">Pisa airport</h3>

              <h4 class="font-bold text-sm">Address:</h4>
              <div class="font-mono">
                <p>SIXT Airport service</p>
                <p>Sixt Rent a Car s.r.l.</p>
                <p>Piazzale Mario Cobianchi snc</p>
                <p>56121 Pisa</p>
                <p>Italy</p>
              </div>
            </div>

            <h4 class="font-bold text-sm">Contact details:</h4>
            <p>
              <Icon name="mdi:envelope" class="text-xl text-green-500 inline" />
              <a href="mailto:ap43410@sixt.com">Email: ap43410@sixt.com</a>
            </p>
            <p>
              <Icon name="mdi:phone" class="text-xl text-green-500 inline" /> Phone:
              <a href="tel:+39 050 6132632">+39 050 6132632</a>
            </p>
            <p>
              <Icon
                name="mdi:car-emergency"
                class="text-xl text-green-500 inline"
              /> SOS: <a href="tel:+39 02 09948915">+39 02 09948915</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
