---
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description = "Casa martina tuscany", image } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:image" content={image} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen">
    <Header />
    <slot />
    <Footer />
    <script is:inline src="./node_modules/preline/preline.js"></script>
  </body>
</html>
